.contact {
  position: relative;
  margin: -60px 0 0 0;
  @include breakpoint(md) {
    margin: 0;
  }
  @include breakpoint(sm) {
    margin-bottom: -63px;
  }
  a {
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
  .container {
    padding-left: 57px;
    padding-right: 40px;
    @include breakpoint(md) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__inner {
    display: flex;
    @include breakpoint(sm) {
      flex-wrap: wrap;
    }
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__left {
    background: #FFF;
    width: (630/2)/860*100%;
    padding: 40px 54px 0 49px;
    @include breakpoint(sm) {
      width: 100%;
      padding: 0 50px 20px 50px;
    }
    @include breakpoint(xs) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .heading {
      margin-bottom: 37px;
    }
    h3 {
      font-size: 20px;
      line-height: 22px;
      font-weight: bold;
      color: $gray;
      margin-bottom: 47px;
    }
    p {
      margin: 30px 0;
      strong {
        font-weight: normal;
        color: $green;
      }
    }
  }
  &__right {
    background: $green;
    width: (1100/2)/860*100%;
    padding: 20px 54px 9px 52px;
    @include breakpoint(sm) {
      width: 100%;
    }
    @include breakpoint(xs) {
      padding-left: 15px;
      padding-right: 15px;
    }
    h3 {
      color: #FFF;
      font-size: 20px;
      letter-spacing: 1px;
      margin: 19px 0 42px 0;
      font-weight: normal;
    }
    p {
      margin: 0 0;
    }
    .ajax-loader {
      display: none !important;
    }
    div.wpcf7-response-output {
      color: #FFF !important;
      border: none !important;
      padding: 0 120px 0 0;
    }
    .div.wpcf7-validation-errors {
      color: #FFF;
    }
    .form-wrap {
      width: 48%;
      margin-bottom: 48px;
      @include breakpoint(xs) {
        width: 100%;
        margin-bottom: 20px;
      }
      &.w100 {
        width: 100%;
        margin-bottom: 0;
      }
      .wpcf7-not-valid-tip {
        display: none !important;
      }
      textarea,
      input {
        background: none;
        border: 1px solid #FFF;
        width: 100%;
        color: #FFF;
        font-size: 20px;
        height: 42px;
        padding: 0 17px;
        outline: none;
        transition: all 0.3s;
        &:focus {
          border-color: $blue;
        }
        &.wpcf7-not-valid {
          border-color: red;
        }
      }
      textarea {
        height: 105px;
        padding-top: 7px;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #FFF;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #FFF;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #FFF;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #FFF;
      }
    }
  }
  input[type="submit"] {
    float: right;
    background: url("../images/right-white-arrow.png") transparent right center no-repeat;
    background-size: 10px auto;
    border: none;
    color: #FFF;
    font-size: 20px;
    margin: 41px 0 40px 0;
    padding: 0 31px 0 0;
    letter-spacing: 1.5px;
    transition: all 0.3s;
    &:hover {
      color: $blue;
    }
  }
}